*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      background-color:rgb(255, 236, 236) 
}
header{
    /* background-color:rgba(0, 0, 0, 0.799); */
    background-color: lightgreen;
    color: white;
    padding: 20px;
    /* max-width: 600px;
    max-height: 600px; */
    text-transform: capitalize;
    
   
}

nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 150px;
    font-size: 16px;
    /* flex-wrap: nowrap; */
}
nav ul h4{
 margin-right: 400px;

}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
 a:hover{
    border: none;
    border-radius: 40px;
     box-shadow: 2px 4px 10px 2px orange;
    /* background-color: black; */
    padding: 5px 10px;
    
}
.hero{
    padding: 100px;
   text-align: center;
   font-size: 30px;
   margin: 0  auto;
}
.btn button{
    display: flex;
    padding: 10px 12px;
    border: none;
    border-radius: 20px;
    background-color: orange;
    color: white;
    margin: 0 auto;
}
.container{
    max-width:100%;
    max-height: 100%;
    background-color: aliceblue;
}
.container h2{
    text-align: center;
    /* margin-top: 20px; */
    padding: 10px;
    font-size: 20px;
}
.cards{
   
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    /* padding: 20px; */
}
.card h6{
    font-size: 20px;
}
.card img{
    width: 250px;
    height: auto;
}
.card{
    display: flex;
     width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border: solid 2px lightgrey;
    padding: 20px 30px;
    gap: 20px;
        box-shadow: 2px 4px 10px 2px lightcoral;

}
.card h3{
    color: lightcoral;
}
.card button{
    padding: 5px 50px;
    background-color: lightcoral;
    border: 2px solid lightcoral;
    background: transparent;
    color: lightcoral;
    border-radius: 40px;

    /* background: transparent; */
}

