*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/challenge-4/images/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 200px; */
 
}
header{
  text-transform: capitalize;
  font-size: 18px;
  color: white;
}
.logo{
  margin-left: 150px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    padding: 0 15px;
}
.sec{
    text-align: center;
    padding: 60px;
    margin-top: 100px;
    text-transform: capitalize;
    font-family: sans-serif;
    line-height: 2.8rem;
}
.sec h4{
    font-weight: bold;
}
.form{
  