*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#F9F8F6;
    font-family: sans-serif;
    text-transform: capitalize;
}
header{
    background-color:#F9F8F6;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #3D4A5B;
}
.hero{
    background-color: #44444E;
    color: whitesmoke;
    text-align: center;
    padding: 100px;
    

}

.hero h1{
    font-size: 40px;
    margin-bottom: 9px;
}
.hero p{
    font-size: 16px;
    line-height: 1.5rem;
}
.hero .btn{
    padding:  20px;
    border: none;
    border-radius: 60px;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 18px;
    background-color: white;
}
.title{
    text-align: center;
    margin-top: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.profile-card{
    width: 300px;
    height: 400px;
   background-color:#F9F8F6; 
   box-shadow: ;
     box-shadow: 10px 100px 50px #aaaaaa;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}
.profile-card img{
    width: 200px;
    border-radius: 50%;
}

