*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 /* background-color: rgba(0, 0, 0, 0.849); */
 background-color: black;
    color: white;
    text-transform: capitalize;
}

header{
    
    /* max-width: 600px; */
    /* max-height: 500px; */
    padding: 30px 40px;
    background-color: lightgreen;
    font-size: 24px;
}
span{
    color: dodgerblue;
}


header nav ul {
display: flex;
justify-content: center;
gap: 20px;
font-size: 20px;
font-weight: bold;

}
.log{
    margin-right: 220px;
    font-weight: bold;
    
}
/* .sign{
  margin-left: 90px;
    font-size: 20px;
    list-style-type: none;
   
}    */
 ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    
}
.sign{
   padding: 5px 14px; 
   /* border: 1px solid red; */
   border: none;
   border-radius: 40px;
   font-weight:600PX;
   background-color: orangered;
   text-transform: capitalize;
   box-shadow: 2px 5px 20px orangered;
}
.hero{
    display: flex;
    justify-content: center;
    font-size: 35px;
    gap: 30px;
    margin: 50px 0;
}
 .hero .btn button{
    padding: 12px 24px;
    border: 1px solid red;
    border-radius: 40px;
    margin-top: 40px;
    background-color: orangered;
    text-transform: capitalize;
    box-shadow: 2px 5px 20px orangered;
 }
.btn .btn-2{
    background-color: white;
    background-color: transparent;
}

.container{
    max-width: 100%;
    max-height: 100%;
}
.container h2{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
      /* padding: 30px 45px 20px 20px;
     */
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orangered; */
    border: none;
    background-color:#FF00FF;
    /* background-color: orangered; */
    box-shadow: 2px 16px 30px orangered;
    border-radius: 50px;
    padding:20px;
    text-transform: capitalize;
    gap: 10px;
  
    
}
.card img{
    width: 260px;
    height: 200px;
    border-radius: 20px;
}
.drinks{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;   
}
.drink{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered;
    padding: 20px;
    background-color:#FF00FF;
    border-radius: 30px;
    gap: 20px;
    
   
}
.drink p{
    /* line-height: 1.8rem; */
}
.drink img{
    width: 260px;
    height: 200px;
    border-radius: 20px;
}
.button{
   padding: 12px 24px;
    border: 1px solid red;
    border-radius: 40px;
    margin-top: 40px;
    background-color: green;
    text-transform: capitalize;
    box-shadow: 2px 5px 20px orangered;  
    font-size: 20px;
    box-shadow: 10px 10px 50px #00A300;
}