*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: serif; 
}
header{
    background-color: lightgray;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    gap: 40px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;


}
.hero{
    background-image: url(/Challenge-6/images/read.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    backface-visibility: visible;
}
.hero h1{
    font-size: 5rem;
    color: white;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    text-transform: capitalize;
    
}
.design i{
    font-size: 29px;
    font-weight: bold;
    color: purple;
    margin: 5px;
    
}
.design p{
    text-align: center;
}
.design{
   padding: 20px;
   border: none;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: none;
   border-radius: 20px;
}
.container-2 img{
width: 500px;
height: 500px;

}
.title{
 padding: 40px;
 text-align: center;
 text-transform: capitalize;
 line-height: 1.5rem;
}
.container-2{
    /* width: 600px; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #F5F5F0;
     padding: 40px;
}
.card img{
    width: 80px;
    border: none;
    border-radius: 100%;
    margin: 0 auto;
}
.client{
    text-align: center;
    padding: 30px;
    text-transform: capitalize;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    border: none;
    border-radius: 40px;
}
.container-3{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 30px;
    padding: 30px;
}
.about{
    line-height: 1.8rem;
    text-transform: capitalize;
}
button{
    padding: 12px 18px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: green;
    color: white;
    margin: 0 20px;
    text-transform: capitalize;

}
.get{
    background-color:darkblue;
    color: white;
    padding: 65px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.9rem;
}
.about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    padding: 20px;
}
.about-us li{
    list-style-type: none;
}
.social-media{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-media i{
    font-size: 20px;
    color: blue;
}
.copy{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: serif;
    text-transform: capitalize;
}